{% extends 'base.html' %}

{% block title %}
Blog-Locly.in Read how to take your business online
{% endblock title %}
{% block disc %}{% for i in blog|slice:":4" reversed %}
{{i.title}}

{% endfor %}
{% endblock disc %}
{% block body %}

<div class="container">
{% for i in blog reversed %}
<div class="blog-post">
    <h2 class="blog-post-title">{{i.title}}</h2>
    <p class="blog-post-meta">{{i.date}}</p>
    {{i.content|slice:":600" |safe}}... <a href="/blog/{{i.slug}}">continue reading</a>
    
  </div><!-- /.blog-post -->
  <div class="dropdown-divider"></div>
{% endfor %}
</div>
{% endblock body %}