{% extends 'base.html' %}

{% block title %}Orders
{% endblock title %}


{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/shops">Shops</a></li>
      <li class="breadcrumb-item"><a href="/shops/{{shop.shop_id}}">{{shop.shop_name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order page</li>
    </ol>
  </nav>
{% for item in order reversed %}


<div class="card mx-2 my-2">
    <div class="row mx-2">
        <h5>  Order ID : {{item.id}}</h5>
    </div>
    <div class="row mx-2">
        <h5>  items : {{item.items}}</h5>
        
    </div>
    <div class="row mx-2">
        <h5>{{item.price}}</h5>
        
    </div>
    <div class="row mx-2">
        <h5>  Status : {{item.status}}</h5>
        
    </div>
        <div class="row mx-2">
        <h7>  Address : {{item.address}}</h5>
        <h7> Address2 : {{item.address2}}</h7>
                
    </div>
    <form action="/orders_update/{{item.id}}" method="POST">{% csrf_token %}
    <div class="container">
        <div class="row">
    <label for="status">Status</label>
      <select id="status"name='status' class="form-control">
        <option selected>{{item.status}}</option>
        <option>Accepted</option>
        <option>Dispatched</option>
        <option>Denied</option>
        <option>Delivered</option>
        <option>Pending</option>
    </select>
    <button type="submit" class="btn btn-light">Update</button>
</div>
    </form>
</div>
</div>


{% endfor %}
</div>
{% endblock body %}