{% extends 'base.html' %}

{% block title %}
{{prod.prod_name}}| Locly.in 
{% endblock title %}
{% block disc %}
{{shop.prod_disc}}
{% endblock disc %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/shops">Shops</a></li>
      <li class="breadcrumb-item"><a href="/shops/{{shop.shop_id}}">{{shop.shop_name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{prod.prod_name}}</li>
    </ol>
  </nav>
{% if not request.user.is_anonymous %}
<div class="row">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mx-2 mt-1" data-toggle="modal" data-target="#exampleModalLong">
    <i class="fas fa-shopping-cart"></i> <span class="badge badge-light">{{count}}</span>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cart of {{shop.shop_name}} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
          {% if not shop.delivery %}
          <p>Delivery Option is not available in this shop</p>
          {% endif %}
          {% if cart|length < 1 and shop.delivery %}Cart is Empty{% endif %}
          {% for item in cart  %}
          <div class="card my-2">
            <div class="row">
              <img style="width:50px;height:50px;" src="/media/{{item.products.prod_img}}" alt="..."
                class="rounded-circle">
              <div class="col">
                <h6 class="card-title mx-5"><b>{{item.products.prod_name}}</b></h6>
                <div class="row">
                  <p class="my-2 mx-5" style="color:red;">Rs.{{item.products.prod_price}}/-</p>
                  <h8 class='mx-2'><b> Quantity:</b>{{item.quantity}}</h8>
                  <a href="/addtocart/{{item.id}}/delete/" class="btn btn-outline-danger">Remove</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="/order/{{shop.id}}">
            {% if shop.delivery %}
            <button type="submit" class="btn btn-primary">Place Order</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <button type="button" class="btn btn-dark mt-1 "><i class="far fa-eye"></i> {{shop.clicks}}</button>
</div>
{% if not prod.affiliate %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark my-2">
  <div class="container">
    <div class="row">
      <img style="width:150px;height:150px;" src="/media/{{prod.prod_img}}" alt="{{prod.prod_name}}" class="rounded">
      <div class="col">
        <div class="row ml-1">
        <h1 class="display-4">{{prod.prod_name}}</h1>
        </div>
        <p class="lead">About:</i> {{prod.prod_disc}}</p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark my-2">
  <div class="container">
    <div class="row">
      {{prod.affiliate_img | safe}}
      <div class="col">
        <div class="row ml-1">
        <h1 class="display-4">{{prod.prod_name}}</h1>
        </div>
        <p class="lead">About:</i> {{prod.prod_disc}}</p>
      </div>
    </div>
    <button type="button" href="{{prod.affiliate_link}}" class="btn btn-primary">Buy Now</button>
  </div>
</div>
<hr>
<div class="container my-4">
 {{prod.about| safe}}
</div>
{% endif %}
{% endblock body %}